* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #eee;
    color: #4e4544;
    font: normal 16px sans-serif;
}

/* Page Layout */

.container{
    max-width: 1050px;
    background-color: darksalmon;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-areas:
    "header header"
    "aside aside"
    "main sidebar"
    "footer footer";
    grid-gap: 60px;
    display: flex;
    flex-direction: column;


}
#quien{
  display: grid;
  grid-area: main;
}

/* Header */

header{

grid-area: header;
    color: #ef5350;
    padding: 20px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;

}

header nav {
    justify-self: start;

    list-style: none;
    overflow: hidden;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color:navy;
  opacity:o.6;

}

header nav li {
  margin-right: 15px;
   display: inline-block;
}

/* header button {
  justify-self: end;
     background-color: #ef5350;
     border: none;
     padding: 8px 25px;
     color: #fff;
     cursor: pointer;
     text-transform: uppercase;
} */


.main {

  grid-area: main;
    text-align: center;

}

.main h2 {
    font-size: 32px;
    margin-bottom: 50px;
}

.main p {
    margin-bottom: 50px;
}

.main img {
    width: 100%;
}


/* Sidebar */

.sidebar {
grid-area: sidebar;
height: 300px;
width: 200px;
    border: 1px solid #a2a2a2;
    /* padding: 20px; */
background-color: cadetblue;


}

#face{
  height: 400px;
  width: 300px;

}
#slides{
  justify-content: center;

}


footer {

    grid-area: footer;
    color: #ef5350;
    text-align: center;
    padding: 20px 0;
}

footer p {
    color: #777;
    font-size: 12px;
    padding: 10px;
}
aside{
    clear: both;
    width: 950px;
    margin: 10px 0px;
    height: 440px;
    overflow: hidden;
    background: #ECECEC;
    border: 5px solid #D8D8D8;
    /* grid-area:grid-row-end: 2; */
}
@-webkit-keyframes animaSlide{
    from{
        left:0px;
    }
    20%{
        left:0px;
    }
    40%{
        left:0px;
    }
    60%{
        left:-960px;
    }
    80%{
        left:-960px;
    }
    to{
        left:-960px;
    }
}
#slides{
    width:1920px;
    height:auto;
    overflow: hidden;
    -webkit-animation-name: animaSlide;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    position:relative;
}
    #slides img{
        float:left;

    }


@media screen and (max-width: 900px) {
    .container{
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 3fr 1fr 1fr;
      grid-template-areas:
          "header"
          "main"
          "sidebar"
          "footer";
display: flex;
flex-direction: column;

    }
    #slides{
        visibility: hidden;

    }
    #contslide{
      visibility: hidden;
    }
  .main{
  
  }

    .sidebar{
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
    }
}
/* @media screen and (max-width: 500px) {
    .container{
      grid-template-columns: 1fr;
      grid-template-areas:
          "header"
          /* "aside" */
          "main"
          "sidebar"
          "footer";
    }
} */
